body{
background-color:#f4f4f4;
color:#555555


}

h1 {color:black;}
h1 {font-family: 'Arimo', sans-serif;}

h2 {color:blue;}
h2 {font-family: 'Arimo', sans-serif;}

h3 {font-family: 'Arimo', sans-serif;}

h4 {font-family: 'Arimo', sans-serif;}

p {font-family: 'Arimo', sans-serif;}

